body {
  margin: 0;
  font-family: sans-serif;
  overscroll-behavior: none;
  font-size: 14px;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

.intuit {
  display: flex;
  width: 100vw;
}
.intuit .main {
  flex: 1;
}

.LeftNav {
  height: 100vh;
  background: #f4f4f0;
}

.content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: calc(100vh - 100px);
}

.Topbar {
  display: flex;
  justify-content: space-between;
  background: url("./assets/svg/borders-top.svg");
  position: relative;
}

.closeBtn,
.AccessPointButton {
  position: absolute;
  top: 14px;
  right: 14px;
}

.closeBtn {
  background: none;
  border: none;
}

.drawer {
  border-left: 1px solid #c3ced5;
  margin-right: -400px;
  transition: 1s cubic-bezier(0.74, 0.01, 0.16, 0.99);
  position: relative;
}
.drawer.showAssist {
  margin-right: 0;
}

.drawerContent {
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: calc(100vh - 260px);
  overflow-y: scroll !important;
}

.Lottie {
  width: 20px;
  margin-right: 5px;
}

.drawerHeader,
.Generating {
  display: flex;
  align-items: center;
}

.drawerHeader {
  display: flex;
  justify-content: center;
}
.drawerHeader > span {
  margin: 0 !important;
}

.Placeholder {
  margin: 60px;
  width: 100%;
  height: calc(100% - 120px);
  background: rgba(215, 39, 146, 0.05);
  border-radius: 20px;
  border: 1px dashed rgba(215, 39, 146, 0.5);
}

.suggestions > span {
  display: inline-block;
  padding-bottom: 25px;
}

.Turbi {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Turbi header {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.riveComponent {
  width: 350px;
  height: 280px;
}

.TTTitle {
  text-align: center;
  margin-top: 50px;
  min-height: 116px;
  background: url("./assets/svg/tt_title.svg") center center no-repeat;
}
.TTTitle .H3, .TTTitle .Regular {
  color: transparent;
}
.TTTitle .H3 {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 2.6em;
}
.TTTitle .Regular {
  font-size: 1.3em;
  font-weight: 100;
}

.TTNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.TTNav img {
  cursor: pointer;
}

.Steps {
  display: flex;
  padding: 10px 0;
}
.Steps div {
  flex: 1;
  height: 4px;
  background: #05A4B5;
}
.Steps div:not(:last-child) {
  margin-right: 4px;
}
.Steps div:last-child {
  opacity: 0.2;
}

.Range {
  position: relative;
  width: 400px;
  margin-top: 40px;
}
.Range input {
  position: absolute;
  left: 0;
  top: -20px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
.Range .rangeInput {
  position: relative;
  z-index: 0;
  background: #A8A8A8;
  height: 6px;
  border-radius: 10px;
}
.Range .rangeInput button {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background: #2ECB80;
  transition: 1s cubic-bezier(0.74, 0.01, 0.16, 0.99);
  position: relative;
  top: -7px;
}
.Range .rangeInput .labels {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Range .rangeInput .progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(90deg, #41DDFF, #2ECB80);
  transition: 1s cubic-bezier(0.74, 0.01, 0.16, 0.99);
}

.sign {
  border: none;
  background: #1f5ea3;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  min-width: 100px;
  font-weight: bold;
  font-size: 1.1em;
}
.sign:hover {
  background: #286cb5;
}

.SignOut,
.SignIn {
  padding: 40px 0 0 800px;
  height: 100vh;
  box-sizing: border-box;
  background: url("./assets/images/guitar.jpg") no-repeat left top;
}
.SignOut .ialogo,
.SignIn .ialogo {
  display: block;
  margin-bottom: 150px;
}
.SignOut > div,
.SignIn > div {
  background: url("./assets/svg/signtitle.svg") no-repeat left top;
}
.SignOut > div h1, .SignOut > div p,
.SignIn > div h1,
.SignIn > div p {
  color: transparent;
  margin: 0;
}
.SignOut > div h1,
.SignIn > div h1 {
  font-size: 3em;
}
.SignOut > div p,
.SignIn > div p {
  padding: 10px 0 50px;
  font-size: 1.2em;
}

.SignOut > div {
  background: url("./assets/svg/nonintuit.svg") no-repeat left top;
}/*# sourceMappingURL=index.css.map */