@import '../assets/font/font.css';
body {
  margin: 0;
  color: #25292d;
  font-size: 14px;
  overflow-x: hidden;
  overscroll-behavior: none;
  font-family: avenirRegular, "sans-serif";
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

.intuit {
  display: flex;
  width: 100vw;
}
.intuit .main {
  flex: 1;
  display: flex;
}

.LeftNav {
  height: 100vh;
  background: #f4f4f0;
}

.content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  flex: 1;
}

.Topbar {
  display: flex;
  justify-content: space-between;
  background: url("../assets/svg/borders-top.svg");
  position: relative;
}

button.AccessPointButton {
  position: absolute;
  top: 14px;
  right: 14px;
}

.AccessPointButton {
  background: none;
  border: none;
  padding: 0;
  border-radius: 100px;
  height: 32px;
  padding: 0px;
}

.closeBtn {
  background: none;
  border: none;
}

.Chat {
  border-left: 1px solid #c3ced5;
  margin-right: -400px;
  transition: 1s cubic-bezier(0.74, 0.01, 0.16, 0.99);
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0);
}
.Chat.showAssist {
  margin-right: 0;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.1);
}

.Lottie {
  width: 20px;
  margin-right: 5px;
}

.ChatHeader,
.Generating {
  display: flex;
  align-items: center;
}

.PendingResonseExplorations,
.Generating {
  margin-top: 20px;
}
.PendingResonseExplorations span, .PendingResonseExplorations input,
.Generating span,
.Generating input {
  font-family: avenirMedium;
  font-size: 1em;
}
.PendingResonseExplorations input,
.Generating input {
  border: none;
  padding: 0;
  outline: none;
}

.ChatHeader {
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #c3ced5;
}
.ChatHeader .closeBtn {
  position: absolute;
  top: 14px;
  right: 14px;
}
.ChatHeader h2 {
  font-size: 1.2em;
  text-align: center;
  flex: 1;
  margin: 0;
  padding: 18px 0;
  font-family: avenirDemi;
}
.ChatHeader > span {
  margin: 0 !important;
}

.Messages {
  scroll-behavior: smooth;
  transition: height 0.8s cubic-bezier(0.74, 0.01, 0.16, 0.99);
  overflow-y: scroll;
  height: calc(100vh - 167px);
  padding: 20px;
  box-sizing: border-box;
}
.Messages.generating {
  padding-bottom: 21px;
}
.Messages img {
  cursor: pointer;
}
.Messages article {
  font-family: avenirMedium;
  line-height: 1.4em;
}
.Messages article span:not(.intro) {
  font-family: avenirDemi;
  opacity: 0.8;
  display: inline-block;
  margin-bottom: 12px;
}
.Messages article.assistant {
  padding: 15px 0;
  transition: 0.6s cubic-bezier(0.74, 0.01, 0.16, 0.99);
}
.Messages article.assistant p {
  margin-top: 10px;
}
.Messages article.assistant.submitted, .Messages article.assistant.submitted .Chips {
  padding: 15px 0 0 0;
}
.Messages article.user {
  padding-left: 90px;
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
}
.Messages article.user.makeMeRound p {
  border-radius: 16px;
}
.Messages article.user p {
  background: #0077c5;
  color: #fff;
  border-radius: 16px;
  border-radius: 16px 16px 3px;
  padding: 12px;
  display: inline-block;
}
.Messages ::-webkit-scrollbar {
  width: 5px;
}
.Messages ::-webkit-scrollbar-track {
  background: #fff;
}
.Messages ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a7a7a7;
}
.Messages ::-webkit-scrollbar-thumb:hover {
  background: #818181;
}

.Placeholder {
  padding: 30px;
  height: 100%;
  box-sizing: border-box;
  flex: 1;
}
.Placeholder .pink {
  height: 100%;
  box-sizing: border-box;
  background: rgba(215, 39, 145, 0.04);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestions > span {
  display: inline-block;
  padding-bottom: 25px;
}

.Turbi {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Turbi header {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.riveComponent {
  width: 350px;
  height: 280px;
}

.TTTitle {
  text-align: center;
  margin-top: 50px;
  min-height: 116px;
}
.TTTitle .H3 {
  font-family: avenirMedium;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 2.4em;
}
.TTTitle .Regular {
  font-size: 1.2em;
}

.TTNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.TTNav img {
  cursor: pointer;
}

.Steps {
  display: flex;
  padding: 10px 0;
}
.Steps div {
  flex: 1;
  height: 4px;
  background: #05A4B5;
}
.Steps div:not(:last-child) {
  margin-right: 4px;
}
.Steps div:last-child {
  opacity: 0.2;
}

.Range {
  position: relative;
  width: 400px;
  margin-top: 40px;
}
.Range input {
  position: absolute;
  left: 0;
  top: -20px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
.Range .rangeInput {
  position: relative;
  z-index: 0;
  background: #A8A8A8;
  height: 6px;
  border-radius: 10px;
}
.Range .rangeInput button {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background: #2ECB80;
  transition: 1s cubic-bezier(0.74, 0.01, 0.16, 0.99);
  position: relative;
  top: -7px;
}
.Range .rangeInput .labels {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Range .rangeInput .labels label {
  cursor: pointer;
}
.Range .rangeInput .labels label:hover {
  opacity: 0.6;
}
.Range .rangeInput .progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(90deg, #41DDFF, #2ECB80);
  transition: 1s cubic-bezier(0.74, 0.01, 0.16, 0.99);
}

.RiveDemoLink a,
.sign {
  border: none;
  background: #236dff;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  min-width: 100px;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  font-family: avenirDemi;
}
.RiveDemoLink a.mini,
.sign.mini {
  padding: 5px;
  font-size: 0.8em;
  min-width: inherit;
}
.RiveDemoLink a:hover,
.sign:hover {
  background: #3c7dff;
}
.RiveDemoLink a.invert,
.sign.invert {
  color: #236dff;
  background: #fff;
}
.RiveDemoLink a.invert:hover,
.sign.invert:hover {
  background: #c5d8ff;
}

.RiveDemoLink {
  padding: 30px;
}
.RiveDemoLink a {
  background: #0575DD;
}
.RiveDemoLink a:hover {
  background: #177edf;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.SignOut,
.SignIn {
  opacity: 0;
  padding: 40px 0 0 800px;
  height: 100vh;
  box-sizing: border-box;
  background: url("../assets/images/guitar.jpg") no-repeat left top;
  animation: appear 0.6s ease 0.8s forwards;
}
.SignOut .ialogo,
.SignIn .ialogo {
  display: block;
  margin-bottom: 150px;
}
.SignOut > div,
.SignIn > div {
  background: url("../assets/svg/signtitle.svg") no-repeat left top;
}
.SignOut > div h1, .SignOut > div p,
.SignIn > div h1,
.SignIn > div p {
  color: transparent;
  margin: 0;
}
.SignOut > div h1,
.SignIn > div h1 {
  font-size: 3em;
}
.SignOut > div p,
.SignIn > div p {
  padding: 10px 0 50px;
  font-size: 1.2em;
}

.SignOut > div {
  background: url("../assets/svg/nonintuit.svg") no-repeat left top;
}

@keyframes chip_opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes chip_scale {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
@keyframes chip_disappear_opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes chip_disappear_scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
.Chips {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px 0;
  transition: 0.6s cubic-bezier(0.74, 0.01, 0.16, 0.99);
}

.Chip {
  border: 2px solid #0077c5;
  display: inline-block;
  background: rgba(0, 119, 197, 0);
  color: #0077c5;
  padding: 15px 20px;
  border-radius: 40px;
  font-family: avenirMedium;
  font-size: 1em;
  opacity: 1;
  transform: scale(1);
  transition: 0.4s cubic-bezier(0.74, 0.01, 0.16, 0.99);
  height: 51px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80%;
  overflow: hidden;
}
.Chip:active {
  transform: scale(0.9);
}
.Chip.firstPaint {
  opacity: 0;
  transform: scale(0.8);
  animation: chip_opacity 0.25s cubic-bezier(0.35, 0, 0.5, 1) forwards, chip_scale 0.6s cubic-bezier(0.15, 1.4, 0.25, 1) forwards;
}
.Chip.gone {
  border: 0 solid #0077c5;
  height: 0;
  padding: 0;
  transform: scale(0.4);
  opacity: 0;
  margin-top: 0 !important;
}
.Chip.toBubble:hover, .Chip.toBubble:active, .Chip.toBubble {
  color: #fff;
  padding: 12px;
  background: #0077c5;
  display: inline-block;
  border: 0 solid #0077c5;
  border-radius: 16px 16px 3px;
  cursor: text;
}
.Chip:not(:first-child) {
  margin-top: 5px;
}
.Chip:hover:not(.toBubble) {
  background: rgba(0, 119, 197, 0.1);
}
.Chip:active {
  background: rgba(0, 119, 197, 0.2);
}

.WelcomeMsg p {
  margin-bottom: 10px;
}
.WelcomeMsg p:first-child {
  display: flex;
}
.WelcomeMsg p:first-child span:not(:last-child) {
  margin-right: 4px;
}
.WelcomeMsg h3 {
  font-size: 2.2em;
  font-family: avenirBold;
  margin: 20px 0;
}

.TypeMessage {
  position: relative;
  border-top: 1px solid #c3ced5;
  height: 77px;
}
.TypeMessage input {
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 70px 20px 20px;
  height: 100%;
  outline: none;
  font-family: avenirRegular;
  font-size: 1.2em;
}
.TypeMessage input::-moz-placeholder {
  color: #889298;
}
.TypeMessage input::placeholder {
  color: #889298;
}
.TypeMessage .sendIt {
  position: absolute;
  top: 20px;
  right: 15px;
  background: #fff;
  border: none;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 40px;
}
.TypeMessage .sendIt.active {
  background: #0077c5;
}

.Disclaimer {
  font-size: 0.83em;
  font-family: avenirRegular;
  background: #f4f5f8;
  color: #6b6c72;
  text-align: center;
  padding: 10px;
}

.Card {
  padding: 20px;
  border: 1px solid #c3ced5;
  border-radius: 8px;
}

.Compare {
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
}
.Compare h3 {
  font-family: avenirMedium;
  font-size: 1.1em;
  margin: 10px 0;
}
.Compare h4 {
  margin: 0;
  font-family: avenirMedium;
  font-size: 1em;
  color: #ff6a00;
  opacity: 0;
}
.Compare h4.low {
  opacity: 1;
}
.Compare .bars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}
.Compare .bars div {
  box-sizing: border-box;
  width: 12px;
  transition: height 2s cubic-bezier(0.7, 0, 0, 1.01);
  border-radius: 5px 5px 3px 3px;
  background: #c3ced5;
  position: relative;
}
.Compare .bars div.low {
  background: #ff6a00;
}
.Compare .bars div.bingo {
  opacity: 0.5;
}
.Compare .bars div:hover {
  opacity: 0.7;
}
.Compare .bars div:hover small {
  opacity: 1;
}
.Compare .bars div:not(:last-child) {
  margin-right: 2px;
}
.Compare .bars div small {
  position: absolute;
  bottom: -20px;
  color: #6B6C72;
  left: 0;
  font-size: 0.7em;
  opacity: 0;
}
.Compare .txt {
  padding-top: 0;
  transition: 0.8s cubic-bezier(0.7, 0, 0, 1.01);
}
.Compare .txt.grow {
  padding-top: 25px;
}
.Compare .black {
  font-family: avenirDemi;
  margin: 10px 0;
}
.Compare .grey {
  color: #6B6C72;
}
.Compare .green {
  color: #2ECB80;
}

.GenUXSignInAndOut {
  height: 100vh;
  background: linear-gradient(90deg, #246DFF, #0151F2);
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  color: #fff;
  opacity: 0;
  animation: appear 0.6s ease 0.8s forwards;
}
.GenUXSignInAndOut h1 {
  font-family: avenirBold;
  font-size: 5em;
}
.GenUXSignInAndOut p {
  margin-bottom: 10px;
}
.GenUXSignInAndOut .idsmark {
  position: absolute;
  right: 0;
  top: calc(50vh - 341px);
}
.GenUXSignInAndOut > div {
  width: 600px;
}

.GenMain {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.idsTop {
  background: linear-gradient(90deg, #246DFF, #0151F2);
  padding: 10px 40px;
}

.GenTopNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.GenTopNav .logOut {
  padding: 10px;
}
.GenTopNav .showIt {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}
.GenTopNav img {
  cursor: pointer;
}
.GenTopNav .sign {
  opacity: 1;
  transition: 1s cubic-bezier(0.74, 0.01, 0.16, 0.99);
}
.GenTopNav .sign.hide {
  opacity: 0;
  cursor: default;
}

.RoadMap {
  padding: 20px 20px 20px 40px;
  box-sizing: border-box;
  background: #F9FAFB;
  width: 100vw;
  transition: 1s cubic-bezier(0.74, 0.01, 0.16, 0.99);
  height: 100vh;
  overflow: hidden;
}
.RoadMap > nav {
  display: flex;
  justify-content: space-between;
}
.RoadMap.showAssist {
  width: calc(100vw - 400px);
}
.RoadMap h1 {
  font-family: avenirBold;
  font-size: 3em;
  line-height: 1em;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}
.RoadMap > small {
  font-size: 1em;
  font-family: avenirDemi;
  margin-left: 2px;
}

.Todos {
  display: flex;
  margin-top: 70px;
  width: 100vw;
  height: calc(100vh - 160px);
  overflow-y: scroll;
}
.Todos ::-webkit-scrollbar {
  width: 1px;
}
.Todos ::-webkit-scrollbar-thumb:hover,
.Todos ::-webkit-scrollbar-thumb,
.Todos ::-webkit-scrollbar-track {
  background: transparent;
}
.Todos .Category {
  width: 350px;
}
.Todos .Category h2 {
  font-family: avenirDemi;
  font-size: 1.2em;
  margin-bottom: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.Todos .Category img {
  cursor: pointer;
}
.Todos .Category:not(:last-child) {
  margin-right: 15px;
}
.Todos .Project {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  align-items: center;
  border: 1px solid #fff;
}
.Todos .Project:hover {
  border: 1px solid #dbe1ed;
}
.Todos .Project > article {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.Todos .Project .SuggestionChip .Chips {
  width: 290px;
  box-sizing: border-box;
}
.Todos .Project .Workbench {
  justify-content: flex-start;
}
.Todos .Project .Workbench img {
  display: block;
  width: 310px;
}
.Todos .Project .SuggestionChip {
  align-items: center;
}
.Todos .Project .componentName {
  font-family: avenirDemi;
  color: #FF4785;
  text-align: left;
  display: block;
}
.Todos .Project .linksCtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Todos .Project .linksCtn a:nth-of-type(2) {
  margin-left: 7px;
}
.Todos .Project .links {
  display: flex;
  align-items: center;
}
.Todos .Project .componentName,
.Todos .Project article {
  width: 100%;
}
.Todos .Project:not(:last-child) {
  margin-bottom: 15px;
}

.chipTest {
  display: flex;
  flex-direction: column;
}

.resetBtn {
  text-align: right;
}

.AccessPointButtonRive {
  width: 144px;
  height: 34px;
}

.AccessPointButtonCtn {
  cursor: pointer;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.AccessMain {
  width: 100%;
}

.AccessCtrl > div {
  align-items: center;
}
.AccessCtrl > div:first-child {
  padding-top: 10px;
}
.AccessCtrl > div input, .AccessCtrl > div label {
  cursor: pointer;
}
.AccessCtrl input {
  width: 30px;
}

.AIGen {
  padding: 20px 0;
  box-sizing: border-box;
  width: 287px;
  font-family: avenirMedium;
}
.AIGen span {
  font-family: avenirDemi;
  opacity: 0.8;
  display: inline-block;
  display: none;
  margin-bottom: 12px;
}

.Flyout,
.Flyout {
  width: 180px;
  height: 228px;
  cursor: pointer;
}

.PendingResonseExplorations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.PendingResonseExplorations > div {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=index.css.map */