@import '../assets/font/font.css';

$txt:#25292d;
$blue:#0575DD;
$green: #12C050;
$blueHover:#177edf;
$darkPepper: #6B6C72;
$tofu:#f4f4f0;
$bubble:#0077c5;
$pepper: #c3ced5;
$superBlue:#236dff;
$superBlueLight:#3c7dff;
$orange:#ff6a00;
$typeHeight: 77px;
$drawerWidth: 400px;
$chipBg:rgba(0, 119, 197, 0);
$chipHover:rgba(0, 119, 197, .1);
$chipActive:rgba(0, 119, 197, .2);
$drawerEase: cubic-bezier(0.74, 0.01, 0.16, 0.99);

//placeholder
$teal: #05A4B5;
$placeholder: #889298;
$pink: rgba(215,39,146,.3);
$lightPink: rgba(215, 39, 145, 0.04);

//slider colors
$grey: #A8A8A8;
$green: #2ECB80;
$electric: #41DDFF;

//Chip
$opacityCurve: cubic-bezier(0.35, 0, 0.5, 1);
$scaleCurve: cubic-bezier(0.15, 1.4, 0.25, 1);
$transitionCurve: cubic-bezier(0.35, 0, 0.5, 1);
$disappearScaleCurve: cubic-bezier(0.35, 0, 1, 1);
$disappearOpacityCurve: cubic-bezier(0.35, 0, 0.5, 1);

//Disclaimer
$disclaimerBG: #f4f5f8;
$disclaimerTxt: #6b6c72;

//Card
$cardRadius: 8px;
$barEase: cubic-bezier(0.7, 0, 0, 1.01);

//IDS bg
$ids1: #246DFF;
$ids2: #0151F2;

body {
    margin: 0;
    color:$txt;
    font-size: 14px;
    overflow-x: hidden;
    overscroll-behavior: none;
    font-family: avenirRegular,"sans-serif";
}
p{margin: 0}
button{cursor: pointer}

.intuit {
    display: flex;
    width: 100vw;
    .main{
        flex:1;
        display: flex;
    }
}
.LeftNav {
    height: 100vh;
    background: $tofu;
}
.content{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    flex:1;
}

.Topbar {
    display: flex;
    justify-content: space-between;
    background: url("../assets/svg/borders-top.svg");
    position: relative;
}

button.AccessPointButton {
    position: absolute;
    top: 14px;
    right: 14px;
}
.AccessPointButton{
    background: none;
    border: none;
    padding: 0;
    border-radius: 100px;
    height: 32px;
    padding: 0px;
}

.closeBtn {
    background: none;
    border: none;
}

.Chat{
    border-left: 1px solid $pepper;
    margin-right: -$drawerWidth;
    transition: 1s $drawerEase;
    position: relative;
    width: $drawerWidth;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 80px 0 rgba(0,0,0,0);
    &.showAssist{
        margin-right: 0;
        box-shadow: 0 0 80px 0 rgba(0,0,0,.1);
    }
}


.Lottie {
    width:20px;
    margin-right: 5px
}

.ChatHeader,
.Generating {
    display: flex;
    align-items: center;
}
.Generating {
    margin-top: 20px;
    span {
        font-family: avenirMedium;
    }
}

.ChatHeader {
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid $pepper;
    .closeBtn {
        position: absolute;
        top: 14px;
        right: 14px;
    }
    h2 {
        font-size: 1.2em;
        text-align: center;
        flex: 1;
        margin: 0;
        padding: 18px 0;
        font-family: avenirDemi;
    }
    > span{margin: 0 !important;}
}

.Messages {
    &.generating{ padding-bottom: 21px}
    scroll-behavior: smooth;
    transition: height .8s $drawerEase;
    overflow-y: scroll;
    height: calc(100vh - (90px + $typeHeight));
    padding: 20px;
    box-sizing: border-box;
    img{ cursor: pointer}
    article{
        font-family: avenirMedium;
        line-height: 1.4em;
        span:not(.intro) {
            font-family: avenirDemi;
            opacity: .8;
            display: inline-block;
            margin-bottom: 12px;
        }
        &.assistant{
            padding: 15px 0;
            transition: .6s $drawerEase;
            &.submitted,
            &.submitted .Chips{  padding: 15px 0 0 0 }
        }
        &.user {
            padding-left: 90px;
            display: flex;
            justify-content: flex-end;
            padding-top: 4px;
            &.makeMeRound p {
                border-radius: 16px;
            }
            p {
                background: $bubble;
                color: #fff;
                border-radius: 16px;
                border-radius: 16px 16px 3px;
                padding: 12px;
                display: inline-block;
            }
        }
    }

    
    ::-webkit-scrollbar {
        width: 5px;
    }

   
    ::-webkit-scrollbar-track {
        background: #fff;
    }


    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #a7a7a7;
    }

   
    ::-webkit-scrollbar-thumb:hover {
    background: #818181;
    }

}


.Placeholder {
    padding: 30px;
    height: 100%;
    box-sizing: border-box;
    flex: 1;
    .pink {
        height: 100%;
        box-sizing: border-box;
        background: $lightPink;
        border-radius: 10px;
        // border: 1px dashed $pink;
        display: flex;
        justify-content: center;
        align-items: center;
   }
}

.suggestions > span {
    display: inline-block;
    padding-bottom: 25px;
}

.Turbi {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    header {
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
    }
}

.riveComponent {
    width: 350px;
    height: 280px;
}


.TTTitle {
    text-align: center;
    margin-top: 50px;
    min-height: 116px;
    .H3{
        font-family: avenirMedium;
        font-weight: normal;
        margin-bottom: 10px;
        font-size: 2.4em;
        
    }
    .Regular{
        font-size: 1.2em;
        
    }
}


.TTNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{cursor: pointer}
}

.Steps {
    display: flex;
    padding: 10px 0;
    div{
        flex: 1;
        height: 4px;
        background: $teal;
        &:not(:last-child){ margin-right: 4px }
        &:last-child{opacity: .2}
    }
}

.Range {
    position: relative;
    width: 400px;
    margin-top: 40px;
    input{
        position: absolute;
        left: 0;
        top: -20px;
        width: 100%;
        height: 40px;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
    }
    .rangeInput{
        position: relative;
        z-index: 0;
        background: $grey;
        height: 6px;
        border-radius: 10px;
        button {
            width: 20px;
            height: 20px;
            border: 3px solid #fff;
            box-sizing: border-box;
            box-shadow: 0 10px 20px rgba(0,0,0,.2);
            border-radius: 50%;
            background: $green;
            transition: 1s $drawerEase;
            position: relative;
            top: -7px;
        }
        .labels{
            position: absolute;
            left: 0;
            bottom: -50px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            label{
                cursor: pointer;
                &:hover{opacity: .6}
            }
        }
        .progress {
            position: absolute;
            left: 0;
            top: 0;
            height: 6px;
            border-radius: 10px;
            background: linear-gradient(90deg,$electric,$green);
            transition: 1s $drawerEase;
        }
    }
}

.RiveDemoLink a,
.sign {
    border: none;
    background: $superBlue;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    min-width: 100px;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    font-family: avenirDemi;
    &.mini {
        padding: 5px;
        font-size: .8em;
        min-width: inherit;
    }
    &:hover {background: $superBlueLight}
    &.invert {
        color:$superBlue;
        background: #fff;
        &:hover {background: #c5d8ff}
    }
}
.RiveDemoLink {
    padding: 30px;
    
    a {
        background: $blue;
        &:hover {background: $blueHover}
    }
}


@keyframes appear{
    from{opacity: 0}
    to{opacity: 1}
}

.SignOut,
.SignIn {
    opacity: 0;
    padding: 40px 0 0 800px;
    height: 100vh;
    box-sizing: border-box;
    background: url("../assets/images/guitar.jpg") no-repeat left top;
    animation: appear .6s ease .8s forwards;
    .ialogo{
        display: block;
        margin-bottom: 150px;
    }
    > div {
        background: url("../assets/svg/signtitle.svg") no-repeat left top;
        h1,p {
            color: transparent;
            margin: 0;
        }
        h1 { font-size: 3em }
        p {
            padding: 10px 0 50px;
            font-size: 1.2em;
        }
    }
}

.SignOut > div { background: url("../assets/svg/nonintuit.svg") no-repeat left top }


@keyframes chip_opacity {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes chip_scale {
    from {  transform: scale(.8)}
    to {  transform: scale(1)}
}

@keyframes chip_disappear_opacity {
    from{ opacity: 1 }
    to{  opacity: 0 }
}

@keyframes chip_disappear_scale {
    from{  transform: scale(1)}
    to{ transform: scale(.8) }
}


.Chips {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 0;
    transition: .6s $drawerEase;
}
  
.Chip {
    border: 2px solid $bubble;
    display: inline-block;
    background: $chipBg;
    color: $bubble;
    padding: 15px 20px;
    border-radius: 40px;
    font-family: avenirMedium;
    font-size: 1em;
    opacity: 1;
    transform: scale(1);
    transition: .4s $drawerEase;
    height: 51px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
    overflow: hidden;
    &:active{
        // transition: .3s ease;
        transform: scale(.9);
    }
    &.firstPaint{
        opacity: 0;
        transform: scale(.8);
        animation:
        chip_opacity .25s $opacityCurve forwards,
        chip_scale .6s $scaleCurve forwards;
    }
    &.gone{
        border: 0 solid $bubble;
        height: 0;
        padding: 0;
        transform: scale(.4);
        opacity: 0;
        margin-top: 0!important;
    }
    
    &.toBubble:hover,
    &.toBubble:active,
    &.toBubble {
        color: #fff;
        padding: 12px;
        background: $bubble;
        display: inline-block;
        border: 0 solid $bubble;
        border-radius: 16px 16px 3px;
        cursor: text;
    }
    
    &:not(:first-child){margin-top: 5px}
    &:hover:not(.toBubble) { background: $chipHover }
    &:active { background: $chipActive }
}

.WelcomeMsg {
    p {
        margin-bottom: 10px;
        &:first-child {
            display: flex;
            span:not(:last-child){ margin-right: 4px }
        }
    }
    h3 {
        font-size: 2.2em;
        font-family: avenirBold;
        margin: 20px 0;
    }
}

.TypeMessage {
    position: relative;
    border-top: 1px solid $pepper;
    height: $typeHeight;
    input {
        border: none;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 70px 20px 20px;
        height: 100%;
        outline: none;
        font-family: avenirRegular;
        font-size: 1.2em;
        &::placeholder{ color: $placeholder }
    }
    .sendIt {
        position: absolute;
        top: 20px;
        right: 15px;
        background: #fff;
        border: none;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 40px;
        &.active{ background: $bubble}
    }
}

.Disclaimer {
    font-size: .83em;
    font-family: avenirRegular;
    background: $disclaimerBG;
    color: $disclaimerTxt;
    text-align: center;
    padding: 10px;
}

.Card {
    padding: 20px;
    border: 1px solid $pepper;
    border-radius: $cardRadius;
}

.Compare {
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
    h3 {
        font-family: avenirMedium;
        font-size: 1.1em;
        margin: 10px 0;
    }
    h4 {
        margin: 0;
        font-family: avenirMedium;
        font-size: 1em;
        color: $orange;
        opacity: 0;
        &.low{opacity: 1}
    }
    .bars {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100px;
        div {
            box-sizing: border-box;
            width: 12px;
            transition: height 2s $barEase;
            border-radius: 5px 5px 3px 3px;
            background: $pepper;
            position: relative;
            &.low{background: $orange}
            &.bingo{opacity: .5}
            &:hover {
                opacity: .7;
                small {opacity: 1}
            }
            &:not(:last-child){ margin-right: 2px }
            small {
                position: absolute;
                bottom: -20px;
                color: $darkPepper;
                left: 0;
                font-size: .7em;
                opacity: 0;
            }
        }
    }
    .txt{
        padding-top: 0;
        transition: .8s $barEase;
        &.grow{ padding-top: 25px }
    }
    .black {
        font-family: avenirDemi;
        margin: 10px 0;
    }
    .grey{ color: $darkPepper}
    .green{ color: $green}
}

.GenUXSignInAndOut {
    height: 100vh;
    background: linear-gradient(90deg,$ids1,$ids2);
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    color: #fff;
    opacity: 0;
    animation: appear .6s ease .8s forwards;
    h1 {
        font-family: avenirBold;
        font-size: 5em;
    }
    p{margin-bottom: 10px}
    .idsmark {
        position: absolute;
        right: 0;
        top: calc(50vh - 341px);
    }
    > div {
        width: 600px;
    }
}

.GenUX {
    display: flex;
    justify-content: space-between;
    flex:1;
}

.GenTopNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {cursor: pointer}
    .sign{
        opacity: 1;
        transition: 1s $drawerEase;
        &.hide{
            opacity: 0;
            cursor: default;
        }
    }
}

.RoadMap {
    padding: 20px 40px;
    box-sizing: border-box;
    background: #F9FAFB;
    width: 100vw;
    transition: 1s $drawerEase;
    height: 100vh;
    overflow: hidden;
    &.showAssist{
        width: calc(100vw - $drawerWidth);
    }
    h1 {
        font-family: avenirBold;
        font-size: 4.5em;
        line-height: 1.3em;
        margin: 70px 0 0 0;
    }
    small {
        color: #989d9f;
        margin-left: 4px;
    }
}

.Todos {
    display: flex;
    margin-top: 40px;
    width: 100vw;
    overflow-x: scroll;
    .Category{
        width: 350px;
        h2 {
            font-family: avenirDemi;
            font-size: 1.2em;
            margin-bottom: 15px;
        }
        img{ cursor: pointer }
        &:not(:last-child){ margin-right: 15px }
    }
    .Project {
        background: #fff;
        border-radius: 16px;
        padding: 20px;
        overflow: hidden;
        flex-direction: column;
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        cursor: pointer;
        &:hover{ border: 1px solid #dbe1ed }
        > article {
            display: flex;
            justify-content: center;
            padding: 25px 0;
        }
        .SuggestionChip .Chips {
            width: 290px;
            box-sizing: border-box;
        }
        .Workbench{
            justify-content: flex-start;
            img {
                display: block;
                width: 340px;
                transform: translateX(-15px);
            }
        }
        .SuggestionChip {
            align-items: center;
        }
        .componentName {
            font-family: avenirDemi;
            color: #FF4785;
            text-align: left;
            display: block;
        }
        .linksCtn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a:nth-of-type(2){margin-left: 7px}
        }
        .links{
            text-align: left;
            display: block;
            padding: 3px 0;
            color: $blue;
            font-family: avenirMedium;

        }
        .componentName,
        article{ width: 100% }
        
        &:not(:last-child){ margin-bottom: 15px }
    }
}

.projects {
    height: calc(100vh - 274px);
    overflow-y: scroll;
      ::-webkit-scrollbar {
        width: 1px;
    }
    ::-webkit-scrollbar-thumb:hover,
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-track {
        background: transparent;
    }
}

.chipTest {
    display: flex;
    flex-direction: column;
    .resetBtn {
        text-align: right;
    }
}